/* 每一行都显示 placeholder */
.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.tiptap ul[data-type='taskList'] {
  @apply list-none p-0;

  p {
    @apply m-0;
  }

  li {
    @apply flex;

    > label {
      @apply grow-0 shrink-0 flex-auto mt-0 mr-2 select-none;
    }

    > div {
      @apply flex-auto mb-0;
    }

    &[data-checked='true'] {
      @apply line-through;
    }
  }
}
